.ob-volume-bar {
    // positioning
    position: absolute;
    top: calc(50% - 2px);
    z-index: 2;
    

    // box model
    height: 4px;
    width: 100%;    
    // border: 1px solid red;

    // visual
    background-color: #ccc;
    border-radius: 2px;

    &:after {
        content: "";

        // positioning
        position: absolute;
        top: -18px;
        left: 0;
        z-index: 1;

        // box model
        height: 36px;
        width: 100%;
        // border: 1px solid red;
    }

    &:hover {
        & .ob-volume-bar__slider {
            // positioning
            top: -17px;
            transform: translateX(-3px);

            // box model
            width: 12px;
            height: 36px;
        }

        & .ob-volume-bar__level {
            // visual
            background-color: $highlightColor;
        }
    }

    &__level {
        // box model
        height: 4px;
        width: 50%;

        // visual
        background-color: $mainColor;
        border-radius: 2px;
        // border: 1px solid red;
    }

    &__slider {
        // positioning
        position: absolute;
        top: -10px;
        left: 50%;
        z-index: 3;

        // box model
        height: 24px;
        width: 6px;

        // visual
        background-color: $mainColor;
        // border-radius: 3px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            // visual
            background-color: $highlightColor;
        }

        &:active {
            // positioning
            top: -27px;
            // transform: translateX(-4px);

            // box model
            width: 12px;
            height: 34px;

            // visual
            background-color: $shadowColor;
        }
    }
}