// colors
$mainColor: #d5a353;
$shadowColor: #c48537;
$copyColor: #191514;

// brekpoints
$tabletPortrait: 600px;
$tabletLandscape: 900px;
$desktop: 1200px;

// fonts
$textFont: "Open Sans", Arial, sans-serif;
